$color-bg-1: var(--color-background-1);
$color-bg-2: var(--color-background-2);
$color-bg-3: var(--color-background-3);
$color-keys-1: var(--color-keys-1);
$color-keys-2: var(--color-keys-2);
$color-keys-3: var(--color-keys-3);
$color-keys-4: var(--color-keys-4);
$color-keys-5: var(--color-keys-5);
$color-keys-6: var(--color-keys-6);
$color-text-1: var(--color-text-1);
$color-text-2: var(--color-text-2);
$screen-mobile-s: 320px;
$screen-mobile-m: 440px;
$screen-mobile-l: 560px;
$screen-tablet-s: 680px;
$screen-tablet-m: 800px;
$screen-tablet-l: 920px;
$screen-desktop-s: 1040px;
$screen-desktop-m: 1160px;
$screen-desktop-l: 1280px;
